.no-gutters {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col{
  padding: 0px;
}

.card-color {
  background-color: #3a3a3a;
  color: white;
}

.parent {
  height: 160px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.child {
  width: 200px; 
  height: 80%;
  box-sizing: border-box;
  background: #3b3b3b;
  display:inline-block;
}
