<ngx-spinner name="ucSpinner" size="default" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>

<div class="col" style="height: 93vh;">
  <div class="row">
    <div class="col">
      <div class="input-group fdt">
        <input placeholder="FROM" class="form-control" [(ngModel)]="globals.ucefFdt" ngbDatepicker #f="ngbDatepicker" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button">
            <i class="fa fa-calendar fdt-fa" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="input-group tdt">
        <input placeholder="TO" class="form-control" [(ngModel)]="globals.ucefTdt" ngbDatepicker #t="ngbDatepicker" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="t.toggle()" type="button">
            <i class="fa fa-calendar tdt-fa" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <ng-select style="height: 100% !important;" [(ngModel)]="DT_ID" [items]="dirTypes" bindLabel="DT_Name"
        bindValue="DT_ID" placeholder="Directory Types">
      </ng-select>
    </div>
    <div class="col-md-1" style="display: flex;align-content: flex-end;">
      <button style="height: 100% !important;" type="button" class="btn btn-success"
        (click)="getUCFiles()">Fetch</button>
    </div>
  </div>
  <div style="margin-top: 200px; text-align: center;" *ngIf="fileFlag">
    <span><b>{{alert}}</b></span>
  </div>
  <div class="row" style="padding: 0px 15px !important; margin-top: 10px;" *ngIf="globals.ucefList.length > 0">
    <div style="width: 178px !important; padding:0px 5px !important;">
    </div>
    <div style="width: 400px; padding:0px 5px !important;">
      <input placeholder="Display Name" class="form-control" style="width: 100% !important;" [(ngModel)]="displayName"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
    <div style="width: 179px !important; padding:0px 5px !important;">
      <input placeholder="Main Directory" class="form-control" style="width: 100% !important;"
        [(ngModel)]="mainDir" (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
    <div style="width: 179px !important; padding:0px 5px !important;">
      <input placeholder="Tag" class="form-control" style="width: 100% !important;" [(ngModel)]="tag"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
    <div class="input-group" style="width: 179px !important; padding:0px 5px !important;">
        <input placeholder="Upload Date" class="form-control" [(ngModel)]="uploadDate" ngbDatepicker #x="ngbDatepicker" readonly
        (click)="x.toggle()" (keyup)="x.toggle()" (keydown)="x.toggle()" (ngModelChange)="applyFilter()"
        style="background-color: white">
        <div class="input-group-append">
          <i class="fa fa-times" style="border: 1px solid gray;padding:5px 2px 0px 2px; border-radius: 2px"
            ngbTooltip="Clear" (click)="clearDateField()"></i>
        </div>
    </div>
    <div style="width: 179px !important; padding:0px 5px !important;">
      <input placeholder="Size" class="form-control" style="width: 100% !important;" [(ngModel)]="size"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
  </div>
  <div style="margin-top: 15px; " *ngIf="globals.ucefList.length > 0">
    <table style="width: 100%;" class="cust_tble">
      <thead>
        <tr>
          <th style="text-align: center;">
            <div class="form-check" style="margin-bottom: 15px;">
              <input type="checkbox" (click)="selectAll()" [(ngModel)]="allFlag" class="form-check-input"
                style="transform: scale(1.25);-webkit-transform: scale(1.5);">
            </div>
          </th>
          <th style="text-align: center;width: 400px;">Display Name</th>
          <th style="text-align: center;">{{dirType}}</th>
          <th style="text-align: center;">Tag</th>
          <th style="text-align: center;">Upload Date</th>
          <th style="text-align: center;">Size</th>
        </tr>
      </thead>
      <tbody style="height: 400px !important; overflow: auto;">
        <ng-container *ngFor="let file of (globals.ucefList | ucefFilter : ucefArgs); let i = index">
          <tr style="width:100%; height:30px; text-align: center; vertical-align: middle; font-size: 14px;">
            <td>
              <div class="form-check" style="margin-bottom: 15px;">
                <input type="checkbox" [(ngModel)]="file.isChecked" (change)="allFlag = false;" class="form-check-input"
                  style="transform: scale(1.25);-webkit-transform: scale(1.5);">
              </div>
            </td>
            <td style="width: 400px;">{{file['FL_DisplayName']}}</td>
            <td>{{file['DirectoryDisplayName']}}</td>
            <td>{{file['Filetag']}}</td>
            <td>{{file['FL_Date_Upload']}}</td>
            <td>{{file['FL_Size']}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="globals.ucefList.length > 0">
    <div class="col" style="text-align: end; margin-top: 20px;">
      <button type="button" (click)="submit()" class="btn btn-danger compose"><i class="fa fa-plus"></i>
        &nbsp;Compose</button>
    </div>
  </div>
</div>