<div class="modal-header">
  <h5>Choose an option</h5>
</div>
<div class="modal-body col">
  <div>
    <button type="button" class="btn btn-success" (click)="close(1)">Send the mail</button>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" (click)="close(2)">Send as fragments</button>
  </div>
  <div>
    <button type="button" class="btn btn-danger" (click)="close(3)">Save as new draft</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="close(4)">Update the draft</button>
  </div>
</div>