<div class="modal-header">
  <h5>Choose an option</h5>
  <i class="fa fa-times fa-lg" (click)="close(0)" style="cursor: pointer;"></i>
</div>
<div class="modal-body row">
  <div class="col single" (click)="close(1)">
    <div class="row">
      <div class="col">
        <span style="font-size: 25px;">
          <b>Send single</b>
        </span>
      </div>
      <div class="col" style="margin-top: 10px; text-align: center;">
        <i class="fa fa-envelope" style="transform: scale(2.5);"></i>
      </div>
    </div>
  </div>
  <div class="col multi" (click)="close(2)">
    <div class="row">
      <div  class="col">
        <span style="font-size: 25px; text-align: center;">
          <b>Send parts</b>
        </span>
      </div>
      <div  class="col" style="margin-top: 15px; text-align: center;">
        <i class="fa fa-sitemap" style="transform: rotate(-90deg) scale(2.5);"></i>
      </div>
    </div>
  </div>
</div>