.single {
    background-color: #35a541;
    border-radius: 10px; 
    margin: 10px; 
    text-align: center; 
    padding: 10px 0px 10px 10px;
    color: white;
    cursor: pointer;
}

.multi {
    background-color: #5271c2;
    text-align: center; 
    margin: 10px; 
    padding: 10px 0px 20px 10px; 
    border-radius: 10px;color: white;
    cursor: pointer;
}