<ngx-spinner size="default" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>

<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title" style="text-align: center">ERROR ID: {{res.d.errId}}</h5>
  <i class="fa fa-times fa-lg" (click)="activeModal.dismiss()" style="cursor: pointer;"></i>
</div>
<div class="modal-body col">
  <div class="col" style="align-content: center; padding-left: 0px;">
    {{res.d.errMsg}}
  </div>
  <div class="row" *ngIf="misc !== ''" [innerHTML]="misc | safeHtml" style="max-width:100%; margin: 0px;">

  </div>
</div>