.modal-main-error {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #ff3232;
}

.modal-main-error-desc {
  font-size: 11px;
  font-style: italic;
}

.modal-body-error-details {
  font-size: 13px;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}

.container {
  padding: 0;
}

.row,
.col-11,
.col {
  //border: thin solid red;
}

.row>.col-1 {
  text-align: center;
  color: #ff3232;
}
