<div class="row" style="height: 80vh;">
  <div class="col-md-2">
    <div class="row filters">
      <div class="col">
        <ng-select [items]="refType" [(ngModel)]="typeId" bindLabel="typeVal" placeholder="Ref Type" bindValue="typeId"
          (change)="onChange_GetRefTypeData()">
        </ng-select>
      </div>
    </div>
    <div class="row filters">
      <div class="col">
        <ng-select [items]="refTypeData" [(ngModel)]="refId" bindLabel="refNo" placeholder="Ref ID" bindValue="refId">
        </ng-select>
      </div>
    </div>
    <div class="row filters" style="padding-bottom: 20px;margin-top: 10px;">
      <div class="col">
        <button type="submit" class="btn btn-success btn-block" (click)="getMails()">GET THREADS</button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col"><small class="text-muted">SORT BY MAIL TYPE</small></div>
    </div>
    <div class="row filters">
      <div class="col">
        <ng-select [items]="threadTypeData" [multiple]="true" [closeOnSelect]="false" bindLabel="threadTypeVal"
          bindValue="threadTypeId" placeholder="Mail Type">
        </ng-select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col"><small class="text-muted">SORT BY SUBJECT</small></div>
    </div>
    <div class="row filters">
      <div class="col">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-10" style="height: 90vh; padding: 5px;overflow: auto;">
    <app-email-list2 [storeSelector]="dynamicdata"></app-email-list2>
  </div>
</div>
