<!-- <ngx-spinner size="default" name="sent" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>
<div class="row">
  <div class="col-md-2 align-content-md-stretch" *ngIf="showFilters">
    <h5>SEARCH</h5>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL TO</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.sentTo" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL SUBJECT</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.sentSubject" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn bg-primary" (click)="fetchSentThreads(10)"
          style="color: white; margin: 10px 0px">FILTER</button>
      </div>
    </div>
  </div>
  <div class="col" [ngClass]="{'filterBorder': showFilters}">
    <div class="row align-content-md-stretch">
      <div class="col">
        <button type="button" class="btn bg-success" (click)="showFilters = !showFilters"
          style="color: white; margin-bottom: 15px; transform: scale(0.75)" ngbTooltip="Filtered mails from server"
          placement="right">
          <i class="fa fa-envelope-o"></i> GET SERVER MAILS</button>
        <button type="button" ngbTooltip="Get next 50" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80);margin-bottom: 15px;" (click)="doSentPagination(5)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>50
        </button>
        <button type="button" ngbTooltip="Get next 100" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80);margin-bottom: 15px;" (click)="doSentPagination(10)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>100
        </button>
        <button type="button" ngbTooltip="Get next 200" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80);margin-bottom: 15px;" (click)="doSentPagination(20)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>200
        </button>
      </div>
      <div class="col">
        <ngb-pagination style="margin-top: 5px;" class="d-flex justify-content-center" #numPages
          [collectionSize]="t_CollectionSize" [(page)]="t_currentPage" size="sm" [pageSize]="t_itemsPerPage"
          [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
      <div class="col">
          <h6 class="section"
          style="margin-top: 5px;float:right; background-color: #006699; color: white; padding: 8px; border-radius: 20px;">
          <i class="fa fa-paper-plane"></i>&nbsp;Sent</h6>
        <button type="button" class="btn btn-warning" (click)="getMails()" style="margin-top: 5px;transform: scale(0.80);float:right;"
          ngbTooltip="Map checked threads" placement="left"><i class="fa fa-external-link-square"></i> MAP</button>
      </div>
    </div>
    <div class="col text-center" *ngIf="showLoaders">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col">
        <div class="col" style="padding: 0px;">
          <input placeholder="FILTER TO" class="form-control" style="height: 25px;" [(ngModel)]="filterFrom"
            (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
        </div>
      </div>
      <div class="col">
        <div class="col" style="padding: 0px;">
          <input placeholder="FILTER SUBJECT" class="form-control" style="height: 25px;" [(ngModel)]="filterSubject"
            (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <input placeholder="FILTER DATE" class="form-control" style="height: 25px; background-color: white !important"
            [(ngModel)]="filterDate" (dateSelect)="applyFilter()" ngbDatepicker #t="ngbDatepicker" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" style="height: 25px; padding: 0px 12px;"
              (click)="t.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true" style="transform: scale(0.95)"></i>
            </button>
          </div>
          <div class="input-group-append">
            <i class="fa fa-times" style="border: 1px solid gray;padding:2px 2px 0px 2px; border-radius: 2px"
              ngbTooltip="Clear" (click)="clearDateField()"></i>
          </div>
        </div>
      </div>

    </div>
    <div style="height: 75vh; overflow: auto; opacity: 1.0;" [ngClass]="{'adjustHeight': showFilters}">
      <div class="card rolldown-list"
        *ngFor="let item of (sentThreads | async | unreadViewFilter: sentFilterArgs | slice: (t_currentPage-1) * t_itemsPerPage : (t_currentPage-1) * t_itemsPerPage + t_itemsPerPage); trackBy: threadTrackFn; let i = index"
        [ngClass]="{'threadCssOcean': item.Msg_To.toLowerCase().includes('oceantransworld.com'), 'threadCss': !(item.Msg_To.toLowerCase().includes('oceantransworld.com'))}">
        <div class="card-body no-gutters">
          <div class="row" style="margin-left: 5px;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [checked]="item.isChecked" (change)="checkList(item)"
                style="transform: scale(1.5);-webkit-transform: scale(1.5);">
              <i class="fa fa-star" *ngIf="item.isTo" style="margin-right: 5px; color: rgb(207, 26, 26)"></i>
              <i class="fa fa-star-o" *ngIf="!item.isTo" style="margin-right: 5px;"></i>
            </div>
            <div class="col-md-3 UnreadContent" (click)="onClick_GetThreadMessages(item)">
              <div class="row align-items-center">
                <div class="col" [ngClass]="{unread: item.isUnread}"><span class="row"
                    *ngIf="item.Msg_To.split('<')[0] !== ''">{{item.Msg_To.split('<')[0]}}</span>
                  <span class="row"
                    *ngIf="item.Msg_To.split('<')[0] !== ''">{{item.Msg_To.split('<')[1] === undefined ? '' : (item.Msg_To.split('<')[1]).slice(0,-1)}}</span>
                  <span class="row"
                    *ngIf="item.Msg_To.split('<')[0] === ''">{{item.Msg_To.split('<')[1] === undefined ? '' : (item.Msg_To.split('<')[1]).slice(0,-1)}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-8 UnreadContent" (click)="onClick_GetThreadMessages(item)">
              <div class="row align-items-center">
                <div class="col-md-7 MailSubject" [ngClass]="{unread: item.isUnread}">
                  <span [ngbTooltip]="item.Subject" container="body">{{item.Subject | slice:0:50}}
                    <span *ngIf="item.Subject.length > 50">...</span>
                  </span>
                </div>
                <div class="col-sm-3" [ngClass]="{unread: item.isUnread}">
                  <span ngbTooltip="Messages" container="body" style="font-weight: bold"><i
                      class="fa fa-envelope-o"></i>&nbsp;{{item.MessagesCount}}</span>
                </div>
                <div class="col-md-2">
                  <span class="pull-right MailDate" [ngClass]="{unread: item.isUnread}">{{item.Msg_Date}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<ngx-spinner size="default" name="sent" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>
<div class="row">
  <div class="col-md-2 align-content-md-stretch" *ngIf="showFilters">
    <h5>SEARCH</h5>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL TO</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.sentTo" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL SUBJECT</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.sentSubject" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn bg-primary" (click)="fetchSentThreads(10)"
          style="color: white; margin: 10px 0px">FILTER</button>
      </div>
    </div>
  </div>
  <div class="col" [ngClass]="{'filterBorder': showFilters}">
    <div class="row align-content-md-stretch">
      <div class="col">
        <button type="button" class="btn bg-success" (click)="showFilters = !showFilters"
          style="color: white; transform: scale(0.75)" ngbTooltip="Filtered mails from server" placement="right">
          <i class="fa fa-envelope-o"></i> GET SERVER MAILS</button>
        <button type="button" ngbTooltip="Get next 50" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80)" (click)="doSentPagination(5)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>50
        </button>
        <button type="button" ngbTooltip="Get next 100" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80)" (click)="doSentPagination(10)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>100
        </button>
        <button type="button" ngbTooltip="Get next 200" placement="bottom" class="btn btn-sm btn-outline-primary"
          style="transform: scale(0.80)" (click)="doSentPagination(20)" [disabled]="showLoaders">
          <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>200
        </button>
      </div>
      <div>
        <div class="col">
          <button type="button" class="btn btn-warning" (click)="getMails()"
            style="margin-top: 5px;transform: scale(0.80);" ngbTooltip="Map checked threads"
            placement="left"><i class="fa fa-external-link-square"></i> MAP</button>
          <div class="btn-group" ngbDropdown role="group">
            <button class="btn btn-primary" ngbDropdownToggle style="margin-top: 5px;transform: scale(0.80);float:right;">SENT</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="router.navigate(['unread/']);"><i class="fa fa-inbox"></i>&nbsp;&nbsp;<b>INBOX</b></button>
              <button ngbDropdownItem (click)="router.navigate(['mapped/']);"><i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<b>MAPPED</b></button>
              <!-- <button ngbDropdownItem (click)="router.navigate(['draft/']);"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<b>DRAFTS</b></button> -->
              <button ngbDropdownItem (click)="router.navigate(['compose/']);"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<b>COMPOSE</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center" *ngIf="showLoaders">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
    <div>
      <app-email-list [storeSelector]="dynamicdata">
      </app-email-list>
    </div>
  </div>
</div>