<ngx-spinner size="default" type="line-scale-pulse-out-rapid"> Loading...
    </ngx-spinner>
<ngx-spinner size="default" name="load" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>
<div class="row" style="height: 84.5vh;">
    <div class="col-md-2 align-content-md-stretch" style=" transition: 1s;" [ngbCollapse]="isCollapsed">
        <h5>SEARCH</h5>
        <div class="row">
            <div class="col">
                <small class="text-muted">EMAIL FROM</small>
            </div>
        </div>
        <div class="row filters">
            <div class="col">
                <textarea class="form-control" [(ngModel)]="addrFrom" rows="1"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small class="text-muted">EMAIL TO</small>
            </div>
        </div>
        <div class="row filters">
            <div class="col">
                <textarea class="form-control" [(ngModel)]="addrTo" rows="1"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small class="text-muted">SUBJECT</small>
            </div>
        </div>
        <div class="row filters">
            <div class="col">
                <textarea class="form-control" [(ngModel)]="subject" rows="1"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <button type="button" class="btn bg-primary" (click)="fetchUnreadThreads()"
                    style="color: white">FILTER</button>
            </div>
        </div>
    </div>
    <div class="col" [ngClass]="{'filterBorder': !isCollapsed}">
        <div class="row pull-left">
            <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed"
                ngbTooltip="Filtered mails from server" placement="right" style="transform: scale(0.80)"><i
                    class="fa fa-envelope-o"></i> GET SERVER MAILS</button>
        </div>
        <div class="row pull-right">
            <div *ngIf="showLoaders">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
            <button type="button" class="btn btn-warning" (click)="getMails()" style="transform: scale(0.80)"
                ngbTooltip="Map checked threads"><i class="fa fa-external-link-square"></i> MAP</button>
        </div>
        <div>
            <app-email-list [storeSelector]="dynamicdata">
            </app-email-list>
        </div>
    </div>
</div>