<ngx-spinner size="default" type="ball-elastic-dots" name='fsDir' [fullScreen]="true" size="medium" color="#fff">
  Loading...
</ngx-spinner>

<div class="modal-header">
  <h5 *ngIf="storeSelector !== 'editor' && showFolders" class="modal-title" id="modal-basic-title">CHOOSE A FOLDER TO
    SAVE IN</h5>
  <h5 *ngIf="storeSelector !== 'editor' && !showFolders" class="modal-title" id="modal-basic-title">CHOOSE A JOB TO SAVE
    UNDER</h5>
  <i class="fa fa-times fa-lg" (click)="activeModal.dismiss()" style="cursor: pointer;"></i>
</div>
<div class="modal-body col" style="padding: 0px;">
  <table class="table table-striped" style="width: 100%"
    *ngIf="storeSelector !== 'editor' && uploadType === 'email_attachment'">
    <thead style="width: 100%">
      <tr>
        <th scope="col" style="text-align: center;">OLD NAME</th>
        <th scope="col" style="text-align: center;">NEW NAME</th>
        <!-- <th scope="col" style="text-align: center;">TAG TO</th> -->
      </tr>
    </thead>
    <tbody style="width: 100%">
      <tr *ngFor="let att of attachments; index as i">
        <td style="text-align: center;">{{fileNames[i]}}</td>
        <td style="text-align: center;">
          <input type="text" class="form-control" [(ngModel)]="att.fileName" />
        </td>
        <td style="width: 250px !important;">
          <ng-select [items]="fsTags" [closeOnSelect]="false"
            [(ngModel)]="att.fileTag" bindLabel="threadTypeVal" bindValue="threadTypeId" placeholder="Tags"
            [clearSearchOnAdd]="true">
          </ng-select>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="col">
    <div class="row card-header" style="background-color: white" *ngIf="uploadType === 'email_body'">
      <div class="col">
        <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
      </div>
      <div class="col">
        <ng-select [items]="threadTypeData | async" [closeOnSelect]="false" [(ngModel)]="fileTag"
          bindLabel="threadTypeVal" bindValue="threadTypeId" placeholder="Tags" [clearSearchOnAdd]="true">
        </ng-select>
      </div>
    </div>
    <table class="table table-striped" style="width: 100%" *ngIf="showFolders">
      <thead>
        <tr>
          <th scope="col">
            <button [disabled]="backDisable" ngbTooltip="BACK" class="btn btn-sm btn-outline-secondary float-left"
              (click)="decrementLevel()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
          </th>
          <th scope="col">FOLDER</th>
          <th scope="col" style="text-align: center;">BROWSE</th>
          <th *ngIf="storeSelector !== 'editor'" scope="col" style="text-align: center;">SAVE TO</th>
          <th *ngIf="storeSelector === 'editor'" scope="col" style="text-align: center;">ADD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let folder of folderList; index as i">
          <th scope="row"></th>
          <td style="font-weight: 700;">{{folder.name}}</td>
          <td style="text-align: center;">
            <button id="i" type="button" class="btn btn-sm btn-outline-primary" (click)="incrementLevel(folder,i)">
              <i class="fa fa-folder-open" aria-hidden="true"></i>
            </button>
          </td>
          <td style="text-align: center;">
            <button type="button" class="btn btn-sm btn-outline-success" (click)="saveToFS(folder)">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <hr style="height:30px" />

    <table class="table table-striped" style="width: 100%" *ngIf="!showFolders">
      <thead style="width: 100%">
        <tr>
          <th scope="col" style="text-align: center;">ID</th>
          <th scope="col" style="text-align: center;">JOB TYPE</th>
          <th scope="col" style="text-align: center;">JOB NO</th>
          <th scope="col" style="text-align: center;">SELECT</th>
        </tr>
      </thead>
      <tbody style="width: 100%">
        <tr *ngFor="let map of (fsMapList | async); index as i">
          <td style="text-align: center;">{{map.rfId}}</td>
          <td style="text-align: center;">
            {{map.rfName}}
          </td>
          <td style="text-align: center;">
            {{map.jobNo}}
          </td>
          <td style="text-align: center;">
            <i class="fa fa-plus-circle" (click)="onClick_FetchMdId(map)"
              style="color: black; transform: scale(1.25); cursor: pointer;"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <div class="col" *ngIf="uploadType === 'email_attachment'">
      <table class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">
              <button [disabled]="backDisable" ngbTooltip="BACK" class="btn btn-sm btn-outline-secondary float-left"
                (click)="decrementLevel()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
            </th>
            <th scope="col">FOLDER</th>
            <th scope="col" style="text-align: center;">BROWSE</th>
            <th *ngIf="storeSelector !== 'editor'" scope="col" style="text-align: center;">SAVE TO</th>
            <th *ngIf="storeSelector === 'editor'" scope="col" style="text-align: center;">ADD</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let folder of folderList; index as i">
            <th scope="row"></th>
            <td>{{folder.name}}</td>
            <td style="text-align: center;">
              <button id="i" type="button" class="btn btn-sm btn-outline-primary" (click)="incrementLevel(folder,i)">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
              </button>
            </td>
            <td style="text-align: center;">
              <button type="button" class="btn btn-sm btn-outline-success" (click)="saveToFS(folder)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</div> -->