<div class="col">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3">
      <div class="col" style="padding: 0px;">
        <small class="text-muted">FILTER REFERENCE</small>
      </div>
      <div class="col" style="padding: 0px;">
        <textarea class="form-control" [(ngModel)]="reference" id="refernceText"
          (keyup)="applyFilter($event.target.value)" rows="1"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col" style="padding: 0px;">
        <small class="text-muted">FILTER LABEL</small>
      </div>
      <div class="col" style="padding: 0px;">
        <ng-select [items]="threadTypeData" bindLabel="threadTypeVal" [(ngModel)]="threadTypeVal"
          (change)="applyFilter()" bindValue="threadTypeVal">
        </ng-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col" style="padding: 0px;">
        <small class="text-muted">FILTER SUBJECT</small>
      </div>
      <div class="col" style="padding: 0px;">
        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="subject"
          (keyup)="applyFilter($event.target.value)" rows="1"></textarea>
      </div>
    </div>
  </div>
  <div class="card thread-card no-gutters" *ngFor="let item of mappedThreads | async | mapViewFilter : mappedFilterargs"
    style="margin: 5px 0px;">
    <div class="row" style="margin: 0px;">
      <div class="col-md-3">
        <div class="row align-items-center">
          <div class="col-sm-10 MailHeaders"><i
              (click)="onClick_GetThreadMessages(thread)">{{item.ThreadReferenceText}}</i></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row align-items-center" *ngIf="item.SelectedTypeIdList.length !== 0">
          <div class="col-sm-10 MailHeaders">
            <span *ngFor="let label of item.SelectedTypeIdList" class="badge badge-warning enlarge"> {{label}} </span>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row align-items-center">
          <div class="col-12 MailSubject">
            <i class="pull-left" (click)="onClick_GetThreadMessages(item)">{{item.ThreadSubject}}</i>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <i class="fa fa-trash enlarge pull-right" style="cursor: pointer" (click)="showConfirmDialog(item)"></i>
      </div>
    </div>
  </div>
</div>
