.MailHeaders {
    font-weight: bold;
    color: #006699;
  
    &:hover {
      cursor: pointer;
    }
  }

  .MailSubject i {
    color: #99001a;
    font-style: normal;
    font-size: 15px;
  
    font-family: 'Trebuchet MS',
      'Lucida Sans Unicode',
      'Lucida Grande',
      'Lucida Sans',
      Arial,
      sans-serif;
  
    &.MailDate {
      font-size: 12px;
      font-style: normal;
      color: #009980;
  
    }
  }