<div class="card bg-light">
  <div class="card-header bg-primary">
    <ul class="nav nav-tabs card-header-tabs text-white">
      <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link bg-primary text-white" routerLink="/">DASHBOARD</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link bg-primary text-white">GMAIL</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link bg-primary text-white" routerLink="/send">SEND NEW MAIL</a>
      </li>
    </ul>
  </div>
  <div class="card-body mainRouterView">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <div class="card bg-light">
  <div class="card-header" style="background-color:#203044 ;">
    <ul class="nav nav-tabs card-header-tabs text-white">
      <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link text-white"  routerLink="/" style="background-color:#4866d6; margin: 0px 10px 10px 5px;border-radius: 35px">DASHBOARD</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-white" style="background-color:#4866d6;margin:0px 10px 10px 5px;border-radius: 35px;">GMAIL</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-white" routerLink="/send" style="background-color:#4866d6;margin:0px 10px 10px 5px;border-radius: 35px;">SEND NEW MAIL</a>
      </li>
    </ul>
  </div>
  <div class="card-body mainRouterView" style="background-color: #eff0f4">
    <router-outlet></router-outlet>
  </div>
</div> -->
