<div class="card bg-light">
  <!-- <div class="card-header" style="background-color: #414141;">
    <ul class="nav nav-tabs card-header-tabs text-white">
      <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link header-tabs text-white" routerLink="/"><b>DASHBOARD</b></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link header-tabs text-white"><b>GMAIL</b></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link header-tabs text-white" routerLink="/send"><b>SEND NEW MAIL</b></a>
      </li>
    </ul>
  </div> -->
  <div class="card-body mainRouterView" style="background-color: white;">
    <router-outlet></router-outlet>
  </div>
</div>
