<ngx-spinner></ngx-spinner>

<div class="row" style="height: 86.5vh !important;">
  <div class="col">
    <div class="row" style="height: 10vh">
      <div class="col card text-white mb-3 cardLayout" style="background-color: #27a9e3;" routerLink="/unread">
        <div class="card-body">
          <h6>UNREAD MAILS 1</h6>
        </div>
      </div>
      <div class="col card text-white mb-3 cardLayout" routerLink="/mapped" style="background-color: #28b779;">
        <div class="card-body">
          <h6>MAPPED MAILS</h6>
        </div>
      </div>
      <div class="col card text-white mb-3 cardLayout" routerLink="/sent" style="background-color: #da8320;">
        <div class="card-body">
          <h6>SENT MAILS</h6>
        </div>
      </div>
      <div class="col card text-white mb-3 cardLayout" routerLink="/draft" style="background-color: #65aa2d;">
        <div class="card-body">
          <h6>DRAFT MAILS</h6>
        </div>
      </div>
      <div class="col card text-white mb-3 cardLayout" style="background-color: #852b99;"
        (click)="onClick_SendNewMail()">
        <div class="card-body">
          <h6>COMPOSE MAIL</h6>
        </div>
      </div>
      <div class="col card text-white mb-3 cardLayout" style="background-color: #ffb848"
        (click)="onClick_getUrgentEmails()">
        <div class="card-body">
          <h6>URGENT MAILS</h6>
        </div>
      </div>
    </div>
  </div>
</div>











<!-- <ul>
  <li routerLink="/unread">You have 100 unread mails</li>
  <li routerLink="/mapped">MAPPED</li>
  <li (click)="onClick_SendNewMail()">Click to send new mails</li>
  <li></li> 
   <li>You have 2 urgent mails</li>
  <li>Click to view tagged mails</li>
   <li>ng generate interface models/ticket</li>
  <li>ng g c ticket/ticketList --skipTests</li>
  <li>ng g s _helper/_http/emails --skipTests</li>
  <li>ng g s _helper/_store/emails-store --skipTests</li>
  <li></li>
  <li>ng g pipe _helper/_pipe/safeHtml --skipTests</li>
  <li>Set unread store -> data+ synced variable (forced sync if variable older than 10 mins)</li>
  <li>https://stackoverflow.com/questions/24745006/gmail-api-parse-message-content-base64-decoding-with-javascript</li>
</ul> -->