<p>
  dash-view works!







</p>

<ul>
  <li>You have 100 unread mails</li>
  <li>You have 2 urgent mails</li>
  <li>Click to view tagged mails</li>
  <li></li>
  <li>ng generate interface models/ticket</li>
  <li>ng g c ticket/ticketList --skipTests</li>
  <li>ng g s _helper/_http/emails --skipTests</li>
  <li>ng g s _helper/_store/emails-store --skipTests</li>
  <li></li>
  <li>ng g pipe _helper/_pipe/safeHtml --skipTests</li>
  <li>Set unread store -> data+ synced variable (forced sync if variable older than 10 mins)</li>
  <li>https://stackoverflow.com/questions/24745006/gmail-api-parse-message-content-base64-decoding-with-javascript</li>
</ul>
