<ngx-spinner size="medium" color="#fff" type="ball-fall" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<ngx-spinner size="default" name="load" type="line-scale-pulse-out-rapid"> Loading...
</ngx-spinner>
<div class="row" style="height: 93vh;">
  <div class="col-md-2 align-content-md-stretch" style=" transition: 1s;" [ngbCollapse]="isCollapsed">
    <h5>SEARCH</h5>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL FROM</small>
      </div>
    </div>
    <div class="row filters">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.draftFrom" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-muted">EMAIL TO</small>
      </div>
    </div>
    <div class="row filters">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.draftTo" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <small class="text-muted">SUBJECT</small>
      </div>
    </div>
    <div class="row filters">
      <div class="col">
        <textarea class="form-control" [(ngModel)]="globals.draftSubject" rows="1"></textarea>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <button type="button" class="btn bg-primary" (click)="fetchDraftThreads(10)"
          style="color: white">FILTER</button>
      </div>
    </div>
  </div>
  <div class="col" [ngClass]="{'filterBorder': !isCollapsed}">
    <div class="row align-content-md-stretch">
      <div class="col">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed"
              ngbTooltip="Filtered mails from server" placement="right" style="transform: scale(0.80)"><i
                class="fa fa-envelope-o"></i>FETCH</button>
          </div>
          <div class="btn-group">
            <button type="button" ngbTooltip="Get next 50" placement="bottom" class="btn btn-sm btn-outline-primary"
              style="transform: scale(0.80);" (click)="doDraftPagination(5)" [disabled]="showLoaders">
              <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>50
            </button>
            <!-- </div>
          <div class="btn-group"> -->
            <button type="button" ngbTooltip="Get next 100" placement="bottom" class="btn btn-sm btn-outline-primary"
              style="transform: scale(0.80);" (click)="doDraftPagination(10)" [disabled]="showLoaders">
              <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>100
            </button>
            <!-- </div>
          <div class="btn-group"> -->
            <button type="button" ngbTooltip="Get next 200" placement="bottom" class="btn btn-sm btn-outline-primary"
              style="transform: scale(0.80);" (click)="doDraftPagination(20)" [disabled]="showLoaders">
              <i class="fa fa-envelope-o"></i>&nbsp;<i class="fa fa-plus"></i>200
            </button>
          </div>
          <div class="btn-group" (click)="router.navigate(['compose/']);globals.globals_isDraft = true;">
            <button type="button" class="btn compose" style="background-color: whitesmoke; color: #b31b1b; padding: 8px; 
                  border-radius: 20px; transform: scale(0.80);"><i class="fa fa-plus"></i>
              &nbsp;Compose</button>
          </div>
        </div>
      </div>
      <div class="col text-center" *ngIf="showLoaders">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
      </div>
      <div class="col text-right">
        <div class="btn-group" ngbDropdown role="group" style="float: right;">
          <button class="btn btn-primary" ngbDropdownToggle style="transform: scale(0.80);">DRAFT</button>
          <div style="opacity: 0.85;" class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem (click)="router.navigate(['unread/']);"><i class="fa fa-inbox"></i>&nbsp;&nbsp;<b>INBOX</b></button>
            <button ngbDropdownItem (click)="router.navigate(['mapped/']);"><i class="fa fa-external-link-square"></i>&nbsp;&nbsp;<b>MAPPED</b></button>
            <button ngbDropdownItem (click)="router.navigate(['sent/']);"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<b>SENT</b></button>
            <button ngbDropdownItem (click)="router.navigate(['compose/']);"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<b>COMPOSE</b></button>
          </div>
        </div>
        &nbsp;
        <!-- <i class="fa fa-star" style="margin-right: 5px; color: rgb(207, 26, 26); font-size: 14px;"> TO</i>
        <i class="fa fa-star-o" style="margin-right: 5px; font-size: 14px;"> CC/BCC</i> -->
        <i class="fa fa-refresh" (click)="fetchDraftThreads(10)"></i>
        <button type="button" class="btn btn-warning" (click)="getMails()" style="transform: scale(0.80)"
          ngbTooltip="Map checked threads" placement="left"><i class="fa fa-external-link-square"></i> MAP</button>
      </div>
    </div>
    <div>
      <app-email-list3 [storeSelector]="dynamicdata">
      </app-email-list3>
    </div>
  </div>
</div>