.no-gutters {
  padding-top: 5px;
  padding-bottom: 5px;
}


.MailHeaders {
  font-weight: 600;
  color: #011f4b;
  font-style: italic;

  & .MailHeaders_Sub {
    font-size: 11px;
    font-weight: normal !important;
    font-style: normal;

  }

  &:hover {
    cursor: pointer;
  }
}

.MailSubject span {
  color: #99001a;
  font-style: normal;
  font-size: 15px;

  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;

  &.MailDate {
    font-size: 12px;
    font-style: normal;
    color: #009980;

  }
}

// SCROLLBAR CSS

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b1afaf;
}


// LIST CSS
.rolldown-list {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
  margin: 5px;
  border-radius: 30px;

  &:hover {
    background-color: rgb(221, 221, 221);
  }
}



@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }

  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }

  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
