<ngx-spinner name="list1" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"> Loading...
</ngx-spinner>
<ngb-pagination class="d-flex justify-content-center" #numPages [collectionSize]="t_CollectionSize"
  [(page)]="t_currentPage" size="sm" [pageSize]="t_itemsPerPage" [maxSize]="5" [rotate]="true" [ellipses]="false"
  [boundaryLinks]="true"></ngb-pagination>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-3">
    <div class="col" style="padding: 0px;">
      <input placeholder="FILTER FROM" class="form-control" style="height: 25px;" [(ngModel)]="filterFrom"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
  </div>
  <div class="col">
    <div class="col" style="padding: 0px;">
      <input placeholder="FILTER SUBJECT" class="form-control" style="height: 25px;" [(ngModel)]="filterSubject"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <input placeholder="FILTER DATE" class="form-control" style="height: 25px; background-color: white !important"
        [(ngModel)]="filterDate" (dateSelect)="applyFilter()" ngbDatepicker #t="ngbDatepicker" readonly>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" style="height: 25px; padding: 0px 12px;" (click)="t.toggle()"
          type="button">
          <i class="fa fa-calendar" aria-hidden="true" style="transform: scale(0.95)"></i>
        </button>
      </div>
      <div class="input-group-append">
        <i class="fa fa-times" style="border: 1px solid gray;padding:2px 2px 0px 2px; border-radius: 2px"
          ngbTooltip="Clear" (click)="clearDateField()"></i>
      </div>
    </div>
  </div>

</div>
<div style="height: 65vh; overflow: auto; opacity: 1.0;">
  <div class="card thread-card rolldown-list"
    *ngFor="let item of (threadList | async | unreadViewFilter: unreadFilterArgs | slice: (t_currentPage-1) * t_itemsPerPage : (t_currentPage-1) * t_itemsPerPage + t_itemsPerPage); trackBy: threadTrackFn; let i = index">
    <div class="card-body no-gutters"
      [ngClass]="{'threadCssOcean': item.Msg_From.toLowerCase().includes('oceantransworld.com'), 'threadCss': !(item.Msg_From.toLowerCase().includes('oceantransworld.com')), 'unread': item.isUnread}">
      <div class="row" style="margin-left: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="item.isChecked" (change)="checkList(item)"
            style="transform: scale(1.5);-webkit-transform: scale(1.5);">
        </div>
        <div class="col-md-3 UnreadContent" (click)="onClick_GetThreadMessages(item)"
          [ngClass]="{unread: item.isUnread}"><span class="row"
            *ngIf="item.Msg_From.split('<')[0] !== ''">{{item.Msg_From.split('<')[0]}}</span>
          <span class="row"
            *ngIf="item.Msg_From.split('<')[0] !== ''">{{item.Msg_From.split('<')[1] === undefined ? '' : (item.Msg_From.split('<')[1]).slice(0,-1)}}</span>
          <span class="row"
            *ngIf="item.Msg_From.split('<')[0] === ''">{{item.Msg_From.split('<')[1] === undefined ? '' : (item.Msg_From.split('<')[1]).slice(0,-1)}}</span>
        </div>
        <div class="col-md-6 UnreadContent" (click)="onClick_GetThreadMessages(item)" [ngClass]="{unread: item.isUnread}">
          <span class="row MailSubject" [ngbTooltip]="item.Subject" container="body">{{item.Subject | slice:0:80}}
            <span *ngIf="item.Subject.length > 80">...</span>
          </span>
          <span class="row UnreadContent" container="body"
            style="color: gray; font-weight: 400;">{{item.Snippet | slice:0:80}}
            <span *ngIf="item.Snippet.length > 80">...</span>
          </span>
        </div>
        <div class="col-sm-1 UnreadContent" [ngClass]="{unread: item.isUnread}">
          <span ngbTooltip="Messages" container="body" style="font-weight: bold"><i
              class="fa fa-envelope-o"></i>&nbsp;{{item.MessagesCount}}</span>
        </div>
        <div class="col-md-1 UnreadContent pull-right" style="padding: 0px; text-align: right; align-content: right;">
          <span class="pull-right MailDate" [ngClass]="{unread: item.isUnread}">{{item.Msg_Date}}</span>
        </div>
        <!-- <div class="col-sm-1">
                <i class="fa fa-trash" [ngClass]="{unread: item.isUnread}" style="transform: scale(1.15);" ngbTooltip="Delete" container="body"></i>
              </div> -->
        <!-- <div class="col-md-1">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="onClick_MapThread(item)">M</button>
              </div>
            </div> -->
      </div>
    </div>
  </div>
</div>



<!-- <ngx-spinner name="list1" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"> Loading...
</ngx-spinner>
<ngb-pagination class="d-flex justify-content-center" #numPages [collectionSize]="t_CollectionSize"
  [(page)]="t_currentPage" size="sm" [pageSize]="t_itemsPerPage" [maxSize]="5" [rotate]="true" [ellipses]="false"
  [boundaryLinks]="true"></ngb-pagination>
<div class="row" style="margin-bottom: 10px;">
  <div class="col">
    <div class="col" style="padding: 0px;">
      <input placeholder="FILTER FROM" class="form-control" style="height: 25px;" [(ngModel)]="filterFrom"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
  </div>
  <div class="col">
    <div class="col" style="padding: 0px;">
      <input placeholder="FILTER SUBJECT" class="form-control" style="height: 25px;" [(ngModel)]="filterSubject"
        (keyup)="applyFilter()" (keydown)="applyFilter()" (ngModelChange)="applyFilter()" />
    </div>
  </div>
  <div class="col">
    <div class="input-group">
      <input placeholder="FILTER DATE" class="form-control" style="height: 25px; background-color: white !important"
        [(ngModel)]="filterDate" (dateSelect)="applyFilter()" ngbDatepicker #t="ngbDatepicker" readonly>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" style="height: 25px; padding: 0px 12px;" (click)="t.toggle()"
          type="button">
          <i class="fa fa-calendar" aria-hidden="true" style="transform: scale(0.95)"></i>
        </button>
      </div>
      <div class="input-group-append">
        <i class="fa fa-times" style="border: 1px solid gray;padding:2px 2px 0px 2px; border-radius: 2px"
          ngbTooltip="Clear" (click)="clearDateField()"></i>
      </div>
    </div>
  </div>

</div>
<div style="height: 65vh; overflow: auto; opacity: 1.0;">
  <div class="card thread-card rolldown-list"
    *ngFor="let item of (threadList | async | unreadViewFilter: unreadFilterArgs | slice: (t_currentPage-1) * t_itemsPerPage : (t_currentPage-1) * t_itemsPerPage + t_itemsPerPage); trackBy: threadTrackFn; let i = index">
    <div class="card-body no-gutters"
      [ngClass]="{'threadCssOcean': item.Msg_From.toLowerCase().includes('oceantransworld.com'), 'threadCss': !(item.Msg_From.toLowerCase().includes('oceantransworld.com')), 'unread': item.isUnread}">
      <div class="row" style="margin-left: 5px;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="item.isChecked" (change)="checkList(item)"
            style="transform: scale(1.5);-webkit-transform: scale(1.5);">
        </div>
        <div class="col-md-3 UnreadContent" (click)="onClick_GetThreadMessages(item)">
          <div class="row align-items-center">
            <div class="col" [ngClass]="{unread: item.isUnread}"><span class="row" [ngbTooltip]="item.Msg_From.split('<')[1] === undefined ? '' : (item.Msg_From.split('<')[1]).slice(0,-1)"
                container="body" *ngIf="item.Msg_From.split('<')[0] !== ''">{{item.Msg_From.split('<')[0]}}</span>
              <span class="row"
                *ngIf="item.Msg_From.split('<')[0] === ''">{{item.Msg_From.split('<')[1] === undefined ? '' : (item.Msg_From.split('<')[1]).slice(0,-1)}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-8 UnreadContent" (click)="onClick_GetThreadMessages(item)">
          <div class="col">
              <div class="row align-items-center">
                  <div class="col-md-7 MailSubject" [ngClass]="{unread: item.isUnread}">
                    <span [ngbTooltip]="item.Subject" container="body">{{item.Subject | slice:0:50}}
                      <span *ngIf="item.Subject.length > 50">...</span>
                    </span>
                  </div>
                  <div class="col-sm-3" [ngClass]="{unread: item.isUnread}">
                    <span ngbTooltip = "Messages" container = "body" style="font-weight: bold"><i class="fa fa-envelope-o"></i>&nbsp;{{item.MessagesCount}}</span>
                  </div>
                  <div class="col-md-2">
                    <span class="pull-right MailDate" [ngClass]="{unread: item.isUnread}">{{item.Msg_Date}}</span>
                  </div>
                </div>
                <div class="row">
                    <span class="pull-right" [ngClass]="{unread: item.isUnread}">{{item.Snippet | slice:0:50}}</span>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->