<div style="max-width:100%;width:100%">
  <div class="form-row">
    <div class="col-md-1">
      <b>TO</b>
    </div>
    <div class="col-md-9">
      <ng-select id="iMsgTo" [items]="msgAddrList" [multiple]="true" [closeOnSelect]="false" bindLabel="emailId"
        placeholder="To" [(ngModel)]="msgPacket.to" (change)="addAddr($event)" [addTag]="true">
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning btn-block" (click)="onClick_SendMail()">SEND MAIL</button>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-1">
      <b>CC </b>
    </div>
    <div class="col-md-5">
      <ng-select id="iEmpFrom" [items]="msgAddrList" [multiple]="true" [closeOnSelect]="false" bindLabel="emailId"
        placeholder="Specify CC" [(ngModel)]="msgPacket.cc">
      </ng-select>
    </div>
    <div class="col-md-1">
      <b>BCC</b>
    </div>
    <div class="col-md-5">
      <ng-select id="iEmpFrom" [items]="msgAddrList" [multiple]="true" [closeOnSelect]="false" bindLabel="emailId"
        placeholder="Specify BCC" [(ngModel)]="msgPacket.bcc">
      </ng-select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-1">
      <b>SUBJECT</b>
    </div>
    <div class="col-md-11">
      <input type="text" class="form-control" placeholder="" [(ngModel)]="msgPacket.subject">
    </div>
  </div>
  <div class="ejsEditor">
    <ejs-richtexteditor #toolsRTE id='senderRTE' [(value)]='EditorValue' (actionComplete)="actionCompleted($event)"
      [toolbarSettings]='EditorTools'></ejs-richtexteditor>
  </div>
  <div class="container-fluid" style="margin-top: 5px;">
    <div class="row">
      <div class="col-9">
        <div class="row">

          <div class="col-md-3 upl-block">

            <p class="upl-headers">Select files</p>

            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
              [uploader]="uploader" class="well my-drop-zone">
              Base drop zone
            </div>

            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
          </div>

          <div class="col-md-9 upl-block" style="margin-bottom: 40px">

            <p class="upl-headers">Attachments Selected: </p>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="!uploader.isHTML5">{{ item?.file?.size/1024/1024 | number:'1.1-2' }} MB</td>
                  <td *ngIf="!uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <div class="btn-group-cust">
                      <button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()"
                        [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress: {{uploader.progress}}
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- ben -->
      </div>
      <div class="col">
        <div class="container-fluid-cust" style="text-align: right;font-size: 12px;">
          <div style="text-align: right;">
            <span style="font-family: Arial, Helvetica, sans-serif;">
              <span style="color: rgb(47, 84, 150); text-decoration: inherit;">
                <strong><em>Shraddha Redkar&nbsp;</em></strong>
              </span>
            </span>
          </div>
          <div style="text-align: right;"><span style="font-family: Arial, Helvetica, sans-serif;"><span
                style="color: rgb(47, 84, 150); text-decoration: inherit;"><strong><em>Executive-HR&nbsp;</em></strong></span></span>
            <div style="text-align: right;"><br></div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">“Silver Astra” B-503/A, J. B.
                  Nagar,&nbsp;</span></span>
            </div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Andheri (E) Mumbai- 400 099.&nbsp;</span></span>
            </div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Board : +91 22 62839000-99 (100
                  lines)&nbsp;</span></span>
            </div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Direct : +91 22 62839034&nbsp;</span></span></div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Mobile : +91 7045951608&nbsp;</span></span></div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Fax : +91 11 22 2830 4386&nbsp;</span></span></div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">E-Mail : hr@oceantransworld.com&nbsp;</span></span>
            </div>
            <div style="text-align: right;"><span style="color: rgb(47, 84, 150); text-decoration: inherit;"><span
                  style="font-family: Arial, Helvetica, sans-serif;">Web : www.oceantransworld.com</span></span></div>

          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <table style="opacity:0.75;clear:both;margin:25px auto" width="100%" cellspacing="0" cellpadding="5"
        bgcolor="#fafafa" align="center">
        <tbody>
          <tr>
            <td align="center">
              <font size="1" face="Arial, Helvetica, sans-serif" color="#333333">
                <span style="font-size:11px">
                  This email was generated & sent by OTWL MAILER. ref:_19950115 </span>
              </font>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
